<nav class="navContainer">
    <ul class="nav-ul">
        <li><a href="/home" class="nav-item">Inicio</a></li>
        <li><a href="/products" class="nav-item">Products</a></li>
        <li>
         <a href="/cart" class="nav-item" >        
           <span class="material-symbols-outlined">
            shopping_cart
            </span>  
            <samp id="spamCart" style="color: antiquewhite;"></samp>
         </a>
        </li>
        <li id="btnCerrarSession"><a href="/" class="nav-item">Cerrar sesion</a></li>
    </ul>
</nav>
<div>
    <div class="containerHomeImg">
    <img src="https://smarts.com.ar/wp-content/uploads/2023/09/WEB-BANNER-SMARTS-1920X640.webp" class="HomeImg" alt="Imagen del Home">
</div>
<script src="../public/js/home.js"></script>