<div class="containerInicio">
    <div class="navInicio">
        <h1>E-commerceCoderBack</h1>
        <h3><a href="/register" class="navInicioItem">Registrarme</a></h3>
        <h3><a href="/login" class="navInicioItem">Ya estoy registrado</a></h3>
    </div>

</div>
    <div class="containerInicioImg">
    <img src="https://smarts.com.ar/wp-content/uploads/2023/09/Aorus-Ryzen_1920x640.webp" class="inicioImg" alt="Imagen de inicio">
    </div>